@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.heading {
  color: #004589;
}
.heading h1 {
  font-family: "Inter", sans-serif;
  font-size: 4.2rem;
  font-weight: 1200;
}
h1:hover {
  color: white;
  -webkit-text-stroke: 2px #004589;
  transition: all 0.3s;
}