.flex-div {
  display: flex !important;
  align-items: center;
  gap: 1rem !important;
}
.loading {
  font-size: 19px;
  align-items: flex-start;
  font-family: "Inter", sans-serif;
}
.random-details {
  margin-top: 1rem;
}
.team-details {
  position: absolute;
  right: 0px;
  width: 200px;
}
.random{
    margin-top: -25px;
}
