.footer-main{
    background-color: #004589;
    margin-top: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-heading{
    margin-left: 2rem;
}
.footer-heading .heading{
    color: white;
    font-size: 2.6rem;
}
.name{
    color: white;
    margin: auto 2rem;
}
.social-list{
    display: flex;
    gap: 2rem;
}
li{
    list-style: none;
    cursor: pointer;
}
img{
    margin: 2rem;
    height: 2rem;
    width: 2rem;
}